*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
}

#imgLogo{
    width: 40px;
    height: 40px; 
}

#navBarContenedor{
    padding: 20px 20px;
    border-bottom: 2px solid;
    background: orange;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
}


#marcaTitle{
    margin: 5px 30px;
}

#navItem{

    transition: 0.3s;
    font-size: 16px;
}
#navItem:hover{
    margin: 2px 10px;
    border-bottom: 5px solid #000000;
    color: #ffffff;
}
/* #carouselExampleDark{

} */
#carouselIMG{
    height: 720px;
    width: auto;
    display: block;
    margin: auto;
    z-index: 0;
}
.carousel-indicators{
    z-index: 1;
}

#carouselText{
    color: #ffffff;
    
}

#carouselText h5{
    font-size: 30px;
    text-shadow: 1px 1px 0 #000000;
}

#carouselText p{
    font-size: 20px;
    text-shadow: 1px 1px 0 #000000;
}

#elementCard{
    margin: 15px 15px;
    display: flex;
    justify-content: center; 
    align-items: center;
}

#elementCard h5, #elementCard p, #precio{
    text-align: center;
}

.col div{
    height: 100px;
    transition: .3s all ease;
}

.col div:hover{
    transform: scale(1.1);
}


.googleMap{
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 15px 0;
    padding: 15px 20px;
}

.googleMap iframe{
    width: 600px;
    height: 430px;
    border: 2px solid orange;
}

.info-form{
    padding: 20px 15px;
}
.info-form h2, .info-form p, .info-form a{
    padding-bottom: 15px;
}

.info-form a, .dat-form .inputDatos, .dat-form textarea{
    width: 100%;
    padding: 15px 10px;
    margin: 15px 0;
    text-decoration: none;
    color: #000000;
    border-radius: 5px;
}

.info-form a{
    display: block;
    padding: 5px;
}

.dat-form .btn-enviar{
    padding: 15px;
    font-size: 17px;
    border: none;
    background: orange;
    color: #ffffff;
    border-radius: 5px;
    outline: 0;
}

@media (max-width: 1000px) {
  .googleMap {
    flex-direction: column;
  }
}

.youtubeVideo iframe{
    display: block;
    margin: auto;
    height: 500px;
    width: 700px;
    border: 2px solid orange;
}